<div class="asset-page">

  <!-- Header -->
  <div class="page-header">
    <div>
      <h2 class="page-title">Gestione asset</h2>
      <p class="page-subtitle">Visualizza e gestisci tutti gli asset aziendali.</p>
    </div>
    <button class="btn-new-asset" type="button" (click)="createNewAsset()">
      <span class="btn-icon">+</span>
      <span>Nuovo Asset</span>
    </button>
  </div>

  

  @if (error()) {
    <div class="error">{{ error() }}</div>
  }

  <!-- Filtri -->
<app-filters
  (filtersChange)="onFiltersChange($event)">
</app-filters>

<!-- Loading / Error -->
  @if (loading()) {
    <div class="loading">Caricamento in corso...</div>
  }
  <!-- Tabella -->
  <div class="table-card" #tableCard>
    <div class="asset-table">
      <!-- Header -->
      <div class="asset-row asset-header">
        <div>Stato</div>
        <div>Marca</div>
        <div>Modello</div>
        <div>Numero seriale</div>
        <div>Utente assegnato</div>
        <div>Business Unit</div>
        <div>Data assegnazione</div>
      </div>

      <!-- Righe dinamiche -->
      @for (asset of paginatedAssets(); track asset.id) {
        <div 
          class="asset-row" 
          [class.muted]="asset.status === 'Dismissed'"
          (click)="goToAssetDetail(asset.id)"
          style="cursor: pointer;">
          
          <!-- Colonna Stato -->
          <div class="status">
            @if (asset.status === 'Assigned') {
              <span class="status-dot status-assigned"></span>
            } @else if (asset.status === 'Available') {
              <span class="status-dot status-available"></span>
            } @else {
              <span class="status-box"></span>
            }
            <span>{{ asset.statusLabel }}</span>
          </div>
          
          <!-- Dati Asset -->
          <div>{{ asset.brand }}</div>
          <div>{{ asset.model }}</div>
          <div>{{ asset.serialNumber }}</div>
          <div>{{ asset.assignedUser || '-' }}</div>
          <div>{{ asset.businessUnit || '-' }}</div>
          <div>{{ asset.assignmentDate || '-' }}</div>
        </div>
      }
    </div>

    <!-- Footer con paginazione -->
    <div class="table-footer">
      <span class="table-info">{{ displayRange() }}</span>
      
      <app-pagination
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        [maxVisible]="5"
        (pageChange)="goToPage($event)">
      </app-pagination>
    </div>
  </div>
</div>
