.layout {
	background-color: #FFFFFF;
	display: flex;
	min-height: 100vh;
}

app-sidebar {
	display: block;
	flex: 0 0 230px;
}

.content {
	min-width: 0;
	flex: 1;
	padding: 1.5rem;
}


@media (max-width: 768px) {
	.layout {
		flex-direction: column;
	}
}
